<div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
        <div class="w3-container w3-blue w3-padding-16">
            <div class="w3-left"><img src="/images/svg/sms.svg" style="width: 50px;"></div>
            <div class="w3-right">
                <h3>52</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>Messages</h4>
        </div>
    </div>
    <div class="w3-quarter">
        <div class="w3-container w3-red w3-padding-16">
            <div class="w3-left"><img src="/images/svg/fine_print.svg" style="width: 50px;"></div>
            <div class="w3-right">
                <h3>99</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>Views</h4>
        </div>
    </div>
    <div class="w3-quarter">
        <div class="w3-container w3-teal w3-padding-16">
            <div class="w3-left"><img src="/images/svg/icons8_share.svg" style="width: 50px;"></div>
            <div class="w3-right">
                <h3>23</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>Shares</h4>
        </div>
    </div>
    <div class="w3-quarter">
        <div class="w3-container w3-orange w3-text-white w3-padding-16">
            <div class="w3-left"><img src="/images/svg/night_portrait.svg" style="width: 50px;"></div>
            <div class="w3-right">
                <h3>50</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>Users</h4>
        </div>
    </div>
</div>

<div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-twothird">
            <h5>Feeds</h5>
            <table class="w3-table w3-striped w3-white">
                <tr>
                    <td><img class="width-30" src="../images/svg/icons8_add_list.svg"></td>
                    <td class="gd">New record, over 90 views.</td>
                    <td><i>10 mins</i></td>
                </tr>
                <tr>
                    <td><img class="width-30" src="../images/svg/icons8_alarm.svg"></td>
                    <td class="gd">Database error.</td>
                    <td><i>15 mins</i></td>
                </tr>
                <tr>
                    <td><img class="width-30" src="../images/svg/icons8_group_task.svg"></td>
                    <td class="gd">New record, over 40 users.</td>
                    <td><i>17 mins</i></td>
                </tr>
                <tr>
                    <td><img class="width-30" src="../images/svg/icons8_voice_recognition.svg"></td>
                    <td class="gd">New comments.</td>
                    <td><i>25 mins</i></td>
                </tr>
                <tr>
                    <td><img class="width-30" src="../images/svg/icons8_visa.svg"></td>
                    <td class="gd">Check transactions.</td>
                    <td><i>28 mins</i></td>
                </tr>
                <tr>
                    <td><img class="width-30" src="../images/svg/icons8_electronics.svg"></td>
                    <td class="gd">CPU overload.</td>
                    <td><i>35 mins</i></td>
                </tr>
                <tr>
                    <td><img class="width-30" src="../images/svg/icons8_share.svg"></td>
                    <td class="gd">New shares.</td>
                    <td><i>39 mins</i></td>
                </tr>
            </table>
        </div>
    </div>
</div>



<!-- Footer -->
<footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>FOOTER</h4>
    <p>Powered by MoviesYet</p>
</footer>