<div class="container m-w-400 p-t-10 p-b-20 ">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">{{paramEmail}}</label>
            <input type="password" formControlName="Password" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" placeholder="Password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                <div *ngIf="f.Password.errors.required">Password is required</div>
            </div>
        </div>
        
        <button [disabled]="loading" type="submit" class="btn btn-success">Reset Password</button>
        <img class="m-w-50" src="/images/gif/Iphone-spinner-2.gif" *ngIf="loading">
    </form>
    
</div>
